{% extends 'main/base.html' %}
{% load static %}


{% block title %} Home {% endblock title %}

{% block content %}

<section class="home d-flex flex-column">
    <div class="home-title">
        <a href="#" class="home-btn mt-4">
            ALL products
        </a>

        <div class="home-recomendation">
            <div class="rec-title">
                <h3><span>Popular ART </span></h3>
            </div>
        </div>
    </div>
        <div class="home-cards"></div>
        {% for product in products %}
            <a href="{{product.get_absolute_url}}" class="home-card">
                <img src="
            {% if product.image %}{{product.image.url}}
                {% else %} {% static 'img/noimage.jpg' %}
            {% endif %}
                " class="card-img" alt="">
                <h5 class="title-card">{{product.name}}</h5>

                {% if product.discount %}
                <div class="cart-discount">
                    <p class="line">{{ product.price }}</p>
                    <p> {{ product.sell_price }}</p>
                </div>
                {% else %}
                <p class="price">{{ product.price }}</p>
                {% endif %}
            </a>
        {% endfor %}

    </div>

    
</section>
<img src="{% static 'img/logo.nemu.jpg' %}" class="logoghotic" alt="">
<img src="{% static 'img/subtitlee.png' %}"  class="subtitlee" alt="">
{% endblock content %}
